
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@700&display=swap');

/* Toolbar section  */

.nav-bar {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 24px;
  padding-right: 24px;
}


.name {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  width: auto;
  height: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-top: 56px;
  color: #fff;
}

/* End of toolbar section */
